doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h3.
      Nothing to see there
    button#back Back 
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/position.js')
