doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p#id=id
    button#pay Pay gas
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/truffle-contract.js')
    script(src='/javascripts/web3.min.js')
    script(src='/javascripts/paygas.js')